:root{
    --back-body:#FFFFFF;
    --logo-color: #4d5ae5;
    --span: #2e2f42;
    --color-menu:#2e2f42;
    --text-menu: #2e2f42;
    --num-mail: #434455;
    --first: #2e2f42;
    --buttom: #4d5ae5;
    --back-buttom: #F4F4FD;
    --text-small: #434455;
    --color-studio: #2e2f42;
    --team-text: #2e2f42;
    --social: #4d5ae5;
    --custom: #8e8f99;
    --navyblue: #2E2F42;
    --over: #f4f4fd;
    --form: #FFF;
    --lightslate: #8E8F99;
    --label:#8e8f99;
    --chek: #404bbf; 
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--back-body); 
}
main{
    flex-grow: 1;
    max-height: 100%;
}
h1, h2, h3, h4, h5, h6{
        margin: 0;
}
p{
   margin: 0;
}
input{
    font-family: inherit;
}
ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img{
    display: block;
    max-width: 100%;
    
}
a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.logo{
    color: var(--span);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
}
.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-studio);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .menu:hover{
    color: #404BBF;
}
.menu:focus{
     color: #404BBF;
}
.mod{
    position: relative;
    color: #404bbf;
    
}

.mod::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
.numb-mail{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: var(--num-mail);
    letter-spacing: 1.5;
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.numb-mail:hover{
    color: #404bbf;
}
.numb-mail:focus {
    color: #404bbf;
}
.list{
    list-style: none;
}
.filter{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--buttom);
    background-color: var(--back-buttom);
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover, .filter:focus{
    background-color: #404BBF;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1.5;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}





/* ФУТТЕР */
.media{
    color:#FFF;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    height: 24px;
    color:var(--back-body);
    margin-bottom: 16px;
    margin-top: 0;
   
    text-align: center;
}
@media only screen and (min-width: 1158px) {
   {
    text-align: left;
  }
}
.end-text{
    color: #F4F4FD;
    line-height: 1.5;
    background-color: #2E2F42;
    letter-spacing: 1.5;
    padding: 100px 0;
   
    
}
.divv{
    display: block;
}
@media only screen and (min-width: 768px) {
   {
    
  }
}
@media only screen and (min-width: 1158px) {
    .end-text{
        color: #F4F4FD;
        line-height: 1.5;
        background-color: #2E2F42;
        letter-spacing: 1.5;
        padding: 100px 0;
  }
}
.end-logo{
    color: #f4f4fd;
}
.end-par{
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 264px;
margin: 0 auto;
}
.foot-title{
    width: 208;
}
.foor-social{
    /* align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
     */
}
@media only screen and (min-width: 1158px) {
    .foor-social{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center; 
    
  }
}
.mar-div{
    margin-bottom: 72px;
    /* margin-right: 120px; */
    /* margin: 136px auto; */
    
}
@media only screen and (max-width: 768px) {
    .soc-cont{
        margin-bottom: 72px;
    }
    }

.end-social{
    display: flex;
    gap: 16px;
    justify-content: center;

}
@media only screen and (max-width: 768px) {
    .end-social{
    margin-bottom: 72px;
  }
}

    
@media only screen and (min-width: 1158px) {
   {
    
  }
}
.end-icon{
    width: 40px;
    height: 40px;
}
.end-link{
    width: 100%;
    height: 100%;
    background-color: var(--buttom);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .end-link {
    width: 100%;
    height: 100%;
    background-color: var(--buttom);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.end-link:hover{
    background-color: #31d0aa;
}
.end-link:focus{
    background-color: #31d0aa;
}
.end-fi{
    fill: var(--back-buttom)
}

.logo-right{
    font-family: "Raleway", sans-serif;
    color: var(--logo-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: block;
    text-align: center;
    /* display: inline-block; */
}


/* Поля вводу  Футер*/
.form-p{
    color: var(--form, #FFF);
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    padding-left: 80px;
    }
    @media only screen and (max-width: 768px) {
        .form-p{
        text-align: center;
      }
    }
    .form-footer{
        /* display: flex;
    padding-left: 80px;
    gap: 24px; */
    
    }
    @media only screen and (max-width: 768px) {
       .form-footer{
        flex-direction: column;
        align-items: center;
      }
    }
    .form-but{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px; 
    border-radius: 4px;
    border: none;
    background: var(--social, #4D5AE5);
    color: var(--form, #FFF);
    text-align: center;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    fill: #FFFFFF;
    margin: 0 auto;
    }
    .plane{
        margin-left: 16px;
    }
    .form-input{
        font-size: 12px;
        line-height: 1.5; 
        letter-spacing: 0.04em;
        color: #ffffff; 
        width: 100%;
    height: 40px;
    padding-left: 16px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--form, #FFF);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    }
    .form-input::placeholder{
        color: #ffffff ;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    }
    .form-div{
    
    }
/* =======================*/



.title-second{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-menu);
    margin-bottom: 72px; 
   
}






/*!!!! Перша секція !!!!*/
.first-section{
   background-color: var(--first);
   background-image:linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/mobile/mob-bg@1x.jpg), linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/mobile/mob-bg@1x.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 432px;
   padding: 112px 0;
   /* padding: 188px 0;
   margin: 0 auto;
   max-width: 1440px;
   height: 600px; */
}
@media only screen and (min-width: 768px) {
  .first-section{
    background-image:linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/tab/Dark-bg@1x.jpg), linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/tab/Dark-bg@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
    .first-section{
        background-image:linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/dask/people-office\ 1@1x.jpg), linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/dask/people-office\ 1@2x.jpg);
  }
}
/* @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .first-section{
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/mobile/tab-bg@2x.jpg);
  } */

@media only screen and (min-width: 1158px) {
    .first-section{
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(..);
      }
}
.first-section .title{  
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
max-width: 428px;
/* padding-top: 112px; */
margin-bottom: 77px;
    
}

@media only screen and (min-width: 768px) {
    .first-section .title {
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        font-weight: 700;
        font-size: 56px;
       max-width: 496px;
       margin: 0 auto;
       margin-bottom: 48px;
  }
}
.color-order{
 
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
        border: none;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    display: block;
    border-radius: 4px;
    margin: 0px auto;
    
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    }
    .color-order:hover, .color-order:focus{
        color: #FFFFFF;
        background-color: #404BBF;
        cursor: pointer;
    }

/* !!!!!!!!!!!!!! */

.fourth-section{
   background-color: #F4F4FD;
padding: 120px 0;
}


.team-li{
    text-align: center; 
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.start{
    border-bottom: 1px solid #e7e9fc;
    padding: 19px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}






/* ХЕДДЕР */
.page-head{
    display: flex;
    align-items: center;
    
}
.fl-menu{
    display: flex;
    gap: 40px;
}
.fl-menu-contact{
    display: flex;
    gap: 40px;
}
@media only screen and (min-width: 768px) {
    .fl-menu-contact{
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
        row-gap: 12px;
        margin-left: 121px;
        margin-right: 16px;
    }
}
@media only screen and (max-width: 768px) {
   .fl-menu{
    display: none;
  }
  .fl-menu-contact{
    display: none;
  }
}
.page-nav{
    display: flex;
    align-items: center;
    
}
    .menu-toggle-icon{
    stroke: #2E2F42;
}

.container.page-head{
    /* margin: 25px 16px ; */
}
.container{
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
    
}
@media only screen and (min-width: 768px) {
   
    .container{
min-width: 768px;
    }
  }
  @media only screen and (min-width: 1158px) {
    .container {
      min-width: 1158px;
    }
  }

.page-nav{
    display: flex;
    align-items: center;
}


.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.doo{
display: flex;
gap: 24px;

}
.our{
    margin-top: 120px;
}
.our-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
    gap: 24px;   

    
}
@media only screen and (min-width: 768px) {
  .our-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
   .our-pic{
    display: flex;
    padding-top: 72px;
    gap: 24px;   
  }
}
.strategy{
    padding: 120px 0;
}





.team{
    background: var(--cloud, #F4F4FD);
    padding: 96px 96px;
}

/* ТРЕТЯ СЕКЦІЯ */
.do-list{
    display: none;
}
@media only screen and (min-width: 1158px) {
   .do-list{
    padding-bottom: 120px;
  }
}
.strategy-title{
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.72px;
    line-height: 40px;
}
.tehnik{
   width: calc((100% - 48px) / 3);
}
.people{
    padding: 32px 0;
}
.people-name{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
        letter-spacing: 0.02em;
        font-size: 20px;
        line-height: 1.2;
        color: var(--text-menu);
        margin-bottom: 8px;
}
.name-job{
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--text-small);
}
.app{
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.app-filter{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.structur{
    width: calc((100% - 48px) / 3);
}
.structur:hover{
/* box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);} */}
.five-section{
    padding-top: 96px;
        padding-bottom: 120px;
}
.app-link{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.app-h{
    font-family: 'Roboto',
         sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: var(--navyblue);
      letter-spacing: 0.02em;
      line-height: 1.2;
      margin-bottom: 8px;
}
.marg{
    margin-bottom: 16px;
}
.overlay{
position: relative;
overflow: hidden;
}
.p-over{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--over);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-style:hover .p-over,
.app-style:focus .p-over{
transform: translateY(0%);
}
.box{
    position: relative;
    overflow: hidden;
}
.app-style{
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-overlay{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.backdrop{
    position: fixed;
    top: 80px;
    right: 516px;
    bottom: 8px;
    left: 516px;
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
    
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
/* ДРУГА СЕКЦІЯ */

.strategy{
    padding: 120px 0;
}
.prioritet{
display: flex;
flex-direction: column;
row-gap: 72px;
align-items: center ;

    
}
@media only screen and (min-width: 768px) {
   .prioritet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px) {
    .prioritet{
    display: flex;
    gap: 24px;
    padding: 0 auto;
  }
}
/* .set{
    text-align: center;   
} */
@media only screen and (min-width: 768px) {
   .set{
    width: calc((100% - 16px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .set {
    width: calc((100% - 72px) / 4);
  }
}
.pic-small{
    /* text-align: left; */
    /* margin: 0 16px; */
    color: var(--slate, #434455);

/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;/* 150% */
letter-spacing: 0.32px;
}
.icon-first{
    display: none;
   
}
@media only screen and (min-width: 1158px) {
  .icon-first {
    border: 1px solid #F4F4FD;
    width: 264px;
    height: 112px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}
.social-icon{
    border: 1px solid #4D5AE5;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--social);
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.social-icon:hover{
    background-color: #404BBF;
}
.social-icon:focus{
    background-color: #404BBF;
}
.social{
    display:flex;
    gap: 24px;
    justify-content: center;
    margin-top:8px;
    
}
.social-u{
    display: flex;
    align-items: center;
}
.social-l{
    width: 40px;
    height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-color{
    fill:#f4f4fd;
}
.costum{
    display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 72px 16px;
/* padding-bottom: 96px;  */
    
}
@media only screen and (min-width: 1158px) {
   .costum{
        display: flex;
        gap:24px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
  }
}
.icon-costum{
    
    /* width: calc((100% - 16px) / 2); */
    height: 88px;
    
    border-radius: 4px;
    justify-content: center;
    display: flex;
flex-direction: column;
    align-items: center;    
    
}
@media only screen and (max-width: 768px) {
    .icon-costum  {
    width: 190px;
  }
}
@media only screen and (min-width: 768px) {
    .icon-costum{
    
        width: calc((100% - 24px) / 3);
        height: 88px;
        
          
  }
}
@media only screen and (min-width: 1158px) {
    .icon-costum{
    width: calc((100% - 120px) / 6);
    height: 88px;
    
    border-radius: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
.icon-costum:hover{
    color:#404BBF;
}
 /* .link-icons{
    color: #404BBF;
} */
.link-icons:hover{
    fill: #404BBF;
} 
.link-custom{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--custom);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}.link-custom:hover{
    border-color: #404BBF;
    color: #404BBF;
    width: 100%;
    height: 100%;
}
.link-custom:focus{
    border-color: #404BBF;
    color: #404BBF;
    width: 100%;
    height: 100%;
}
.curent{
    fill: currentColor;
}
.five{
    padding-top: 120px;
    padding-bottom: 120px;
}
@media only screen and (min-width: 1158px) {
    .five{
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
.five-title{
        color: var(--navyblue);
        text-align: center;
        margin-bottom: 72px;
        font-size: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}


.window{
    padding: 72px 24px 24px 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}


.window-modal{
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 768px) {
   .window-modal{
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 584px;
    overflow: scroll;
  }
}

.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:hover{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-close:focus{
    background-color: #404bbf;
    border: none;
}
.link-overlay{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.icon-modal{
    fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-modal,
.modal-close:focus .icon-modal{
    fill: #ffffff;
}   








/* Форма модального вікна */
.form-p-modal{
    display: flex;
/* width: 360px; */
flex-direction: column;
flex-shrink: 0;
color: var(--navyblue, #2E2F42);
text-align: center;
margin-bottom: 16px;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.form-div-modal{
    margin-bottom: 8px;
}
.form-input-modal{
    width: 100%;
height: 40px;
flex-shrink: 0;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-modal:focus{
    border-color: #4D5AE5; 

}
.form-label{
    margin-bottom: 16px;
    color: var(--lightslate, #8E8F99);
    display: block; 
    width: 100%;
/* Small Text */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; 
letter-spacing: 0.04em;
}
.form-icon{
    position: absolute;
    top:50%;
    left:16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-modal:focus + .form-icon{
    fill: #4d5ae5;
}
.form-icon:focus{
    fill: #4D5AE5;
}
.form-position-icon{
    position: relative;
}
.div-area{
    margin-bottom: 16px;
}
.text{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.text:focus{
    border-color: #4D5AE5;
}
.chek{
    margin-bottom: 24px;
}
.chek-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: var(--label, #8e8f99);

}
.chek-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    fill: transparent;
}
input[type="chekbox"]:checked + span{
    background-color: var(--chek);
    border: none;
    fill: var(--back-buttom);

}
.form-link{
    color: var(--buttom);

}
.chek-but{
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chek-modal-icon{
    fill: var(--back-buttom);
}
.chek-q:checked + .chek-label .chek-span{
    border: none;
    fill: var(--back-buttom);
    background-color: var(--chek);
}

/* МОБАЙЛ МЕНЮ */
.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* margin: 0; */
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
display: flex;
flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px 60px;
    background-color: var(--form);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  @media only screen and (min-width: 768px) {
    .menu-container{
      display: none;
    }
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
.mobile-menu{
margin-bottom: auto;
}
.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;

}
.mobile-menu-link{
    color: var(--navyblue, #2E2F42);

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.mobile-menu-contact{
    color: var(--iris, #4D5AE5);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.mobile-networks{
display: flex;
gap: 16px;
}
.mobile-networks-item{

}
  .mobile-networks-link{
    width: 40px;
    height: 40px;
    background-color: var(--buttom);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--navyblue, #2E2F42);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
  }
 
 
  
  .mobile-network-icon{
   fill: none;
    stroke: var(--back-buttom);
   
  }

 